.banner{
    background-image: url('../../img/pandabackground.jpg');
    height: 1200px;
    background-position: center;
    background-size: cover;



}
h1{
    font-size: 300px;
    color: black;
    padding: 100px;
    position: center;
    left: auto
}

 h2{
    text-align: center;
} 

.sign-up-buton{
    margin-left: 59%;
    color: #fff;
    border-radius: 5px;
 }
.steps h1{
    font-size: 50px;
}