 
 <app-navbar></app-navbar>
<div class="banner">
    <div class= "content">
       <div class="textbox">
       <h2><br><span>The only planner made with your mind in mind!</span> </h2>
    <p>If you have difficulty managing your time or following through on plans, you are not alone. 
       Many people with ADHD find that a combination of weak organizational skills, poor time management, 
       add up to lost time and incomplete projects and plans, at both work and home.Panda planner can be an important tool, 
       a place to keep short-term and long-term schedules.</p><div class="sign-up-button">
      
         <a href="#" routerLink="/register" class="btn">SIGN UP</a>
    </div>
</div> 
</div>
</div>


<a href="#banner2">
<div class="scroll-down"></div>
</a>

<div class="banner1">
 
 <ul class="thumb">

        <li><img src="../../assets/img/1.png"/><BR><h1> When you choose a pet it will depend on you to stay focused.</h1></li>
      <li> <img src="../../assets/img/2.png" /><BR><h1> Customize PANDA'S pomodoro timer to help you stay on task.</h1></li>
        <li><img src="../../assets/img/3.png" /><BR><h1> Everytime you complete a task your pet gets a pumpkin! </h1></li>
 </ul>
         </div>
   
         <div class="banner2">
            <div class="textbox2">
            <img src="../../assets/img/adhdp.gif"/>
            <!-- <p>If you've used a planner in the past and it didn't seem to help, <br>don't be afraid to try again. 
               PANDA is all about creating new habits. <br>You might find it useful to think of your pet as an <br>accountibility partner.
               Start by checking your planner no fewer than three<br> times a day: once in the morning as you are looking ahead to your day, 
               <br>once around midday, and once in the evening to review and plan the next day. <br>Doing so will keep you getting things done and your pet happy!</p> -->
         </div>
         </div>
<app-footer></app-footer>
