  .banner{
    background-image: url("https://drive.google.com/uc?export=view&id=1ZoCytet0ChQWGbhsk1SUiWmFZKZCEYMm");
    height: 1200px;
    width: 2000px;
    background-position: center;
    background-size: cover;
   
}
.content{
position: relative;
width: 100%;
display:flex;
justify-content: space-between;
align-items: center;


}

.content .textbox{
    position: relative;
    max-width: 600px;
  margin-left: 12%;
  margin-top: 10%;
}



.content h2{
    font-weight: bold;
    font-size: 70px;
    margin-left: 5%;
    color:#4A2E6F

}

.content .textbox p{
    margin-left: 5%;
    

}
.sign-up-button{
    margin-left: 5%;
    border-radius: 5px;
    margin-left: 5%;
    
 }

  .content .textbox a{
     text-decoration: none;
    text-transform: uppercase;
    background-color:#47C365;
    color: black;
    padding: 20px 30px;
    display: inline-block;
    letter-spacing: 5px;
    font-weight: bold;
    border-radius: 25px;

 } 
 .content .textbox a:hover{
     background-color:#7ED957;
   
 }  

 .content .textbox p{
    margin-right: 25%;
 }

.stepBox{
    background-color: #6F5ACD;
    padding: 100px 100px;
    border-radius: 10px;
    text-align: center;
    margin: 100%;
    background-size: 100%;
    display: inline-block;
}
.stepBox h1{
    color: purple;
    font-size: 50px;
    font-weight: bold;
    
}
.stepBox p{
    font-weight: bold;
    color:#fff

}
.text-center{
    font-size: 24px;
} 

section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#6F5ACD;
}
.container{
    width: 20%;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    align-items:left;
    justify-content: center;
}

/* 
.right{
    width: 20%;
    min-height: 100px;
    background-color:transparent;
     display: flex;
     align-items: left;
    border-radius: 8px;
    justify-content: left;
    padding: 30px;
    border-radius: 8px;
    margin-left: -150px;
    margin-top: 150%;
    
   }

   .right h1{
    color: #6F5ACD;   
    font-size: 200px;
       font-weight: bold;
   }
.right p{
    margin: 20px 0;
    font-weight: 500;
    line-height: 80px;
    font-size: 50px;

}

.right a{
    text-decoration: none;
    text-transform: uppercase;
    background-color: bisque;
    color: black;
    padding: 20px 30px;
    display: inline-block;
    letter-spacing: 5px;
    font-weight: bold;

}
.right a:hover{
    background-color: #6F5ACD;
}
.container2{
    width:90%;
    max-width: 1000px;
    margin:0 auto;
    display:flex;
    align-items: center;
    justify-content: center;

}

.info{
    width: 90%;
    min-height: 100px;
    background-color:#9488c7;
    border-radius: 8px;

    
   }

   .info2{
       width:50%;
       background-color:#6F5ACD;
       min-height: 400px;
       display: flex;
       align-items: center;
       justify-content: center;
       padding: 30px;
       border-radius: 8px;
       margin-left: -150;
   } */