 
 <app-navbar></app-navbar>
 
 <div class="banner">
    <div class= "content">
       <div class="textbox">
    <h1>PANDA</h1>
       <h2><br><span>the only planner made with you in mind!</span> </h2>
    <p>If you have difficulty managing your time or following through on plans, you are not alone. 
       Many people with ADHD find that a combination of weak organizational skills, poor time management, 
       add up to lost time and incomplete projects and plans, at both work and home.Panda planner can be an important tool, 
       a place to keep short-term and long-term schedules.</p><div class="sign-up-button">
      
         <button type="button" routerLink="/register" class="btn btn-secondary btn-lg">SIGN UP!</button>
    </div>
</div> 
</div>
</div>

<div class="container nmt-7 mb-7">
   
    <div class= "row">
      
      <!-- ONE -->
       <div class="col-lg-4"> 
         <div class="stepBox">
          <p>Choose a pet to care for and create your To-Do list.</p>
         </div>
      </div>
         
         
         
         <!--TWO -->
          <div class="col-lg-4">
            <div class="stepBox">
            <p>When tasks are complete, give your pet a pumpkin.</p>
            </div>
         </div>
        
        
        
            <!--THREE -->
         <div class="col-lg-4">
            <div class="stepBox">
            <p>Negelcting your tasks means neglecting your pet.</p>
            </div>
         </div>
</div>
</div>


<app-footer></app-footer>





