  .banner{
    background-image: url("../../assets/img/forhomebg.png");
    height: 1200px;
    width: 2000px;
    background-position: center;
    background-size: cover;
   
}
.content{
position: relative;
width: 100%;
display:flex;
justify-content: space-between;
align-items: center;


}

.content .textbox{
    position: relative;
    max-width: 600px;
  margin-left: 12%;
  margin-top: 10%;
}



.content h2{
    font-weight: bold;
    font-size: 70px;
    margin-left: 5%;
    color:#4A2E6F

}

.content .textbox p{
    margin-left: 5%;
    

}
.sign-up-button{
    margin-left: 5%;
    border-radius: 5px;
    margin-left: 5%;
    color:bisque;
    
 }

  .content .textbox a{
     text-decoration: none;
    text-transform: uppercase;
    background-color:#67be86;
    color:bisque;
    padding: 20px 30px;
    display: inline-block;
    letter-spacing: 5px;
    font-weight: bold;
    border-radius: 25px;

 } 
 .content .textbox a:hover{
     background-color:#47C365;
   
 }  

 .content .textbox p{
    margin-right: 25%;
 }

 
.thumb{
    position: absolute;
    left: 50%;
    bottom:20px;
    transform: translateX(-50%);
    display: flex;
 margin-bottom: -35%;

}

.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}
.thumb li :hover{
    transform: translate(-15px);
}
.thumb li img{
    max-width: 300px;

}
.banner1{
    background-color:#cfc7ea;
    height: 600px;
    width: 2000px;
    background-position: center;
    background-size: cover;
}
h1{
    font-size: 16px;
    font-weight: bold;
    
}

.banner2{
    background-color:#9687CB;
    height: 500px;
    width: 2000px;
    background-position: center;
    background-size: cover;
}
.banner2 img{
    margin-left: 60%;
}
/* }
.banner2 .textbox2 p{
position: relative;
margin-right: 5%;
font-weight: bold;
font-size: 20px;
margin-bottom: -15%;  

} */