
    <div class="container">
        <div class="row">
            <div class="cool-md-6">
                <div class="card">
                    <div class="text-center">
                        <h1>Login</h1>
                        <h6>Please enter email and password!</h6>
                        
                    </div>
    <form>
        <fieldset disabled>
          <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Email</label>
            <input type="text" id="email" class="form-control" placeholder="Email">
          </div>
          <div class="mb-3">
            <label for="disabledSelect" class="form-label">Password</label>
            <select id="disabledSelect" class="form-select">
              <option>Password</option>
            </select>
          </div>
          <div class="mb-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="disabledFieldsetCheck" disabled>
              <label class="form-check-label" for="disabledFieldsetCheck">
                Remember me
              </label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Login</button>


          <!-- <h1> <a href="#" class="logo">Create Account</a></h1> -->
        </fieldset>
    </form>
</div>
</div>
</div>
</div> 