

<app-navbar></app-navbar>


    <div id="bg">
        <img src="https://drive.google.com/uc?export=view&id=1QG2nWFfnHn1JVosz_VIdd7O5zwB_dF-A" alt="">
    </div>



<div class="card">
    <section class="position" [@pageNumber]="pageNumber">
    
        <div class="flex">
        <h1 class="title">Pomodoro</h1>
        <div class="counter">
         <button (click)="decreaseFocusTime()"type="button">-</button>
        <div>{{workDuration}}</div>
        <button (click)="increaseFocusTime()"type="button">+</button>
    </div>
     <button (click)="toggle('two')" type="button">NEXT</button>
</div>

<div class="flex">
    <h1 class="title">Short Break</h1>
    <div class="counter">
     <button (click)="decreaseBreakTime()"type="button">-</button>
    <div>{{breakDuration}}</div>
    <button (click)="increaseBreakTime()"type="button">+</button>
</div>
<div class="buttons">
 <button (click)="toggle('three')"type="button">NEXT</button>
 <button (click)="toggle('one')"type="button">BACK</button>
</div>
</div>

<div class="flex">
    <h1 class="title">{{message}}</h1>
    <div class="counter">
    <div>{{minutes}}:{{seconds}}</div>
    </div>
    <div class="buttons">
        <button (click)="toggle('two')"type="button">BACK</button>
        <button (click)= "start()"type="button">START</button>
        <button (click)= "start()"type="button">STOP</button>
</div>
</div>
</section>

</div>
<!-- <app-footer></app-footer> -->

<router-outlet></router-outlet>



