
.banner{
    background-image: url("../../assets/img/pomobunny.png" );
    height: 900px;
    background-position: center;
    background-size: cover;
}

.card{
    background-color:#9d8fd2;
    max-width: 30rem;
    width: 100%;
    aspect-ratio: 2/1.3;
    margin:auto;
    transform: translateY(calc(42vh - 7rem));
    border-radius: 1rem;
    overflow: hidden;
 
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    flex:1;

}
.title{
    text-align: center;
    font-size: 2.3rem;
    font-weight: bold;

}

.counter{
    display: flex;
    align-items: center;
}
.counter button{
    margin: 0 0.5rem
}
.counter div{
    font-size: 3rem;
    font-weight: bold;
}

.position{
    display: flex;
    width: 300%;
    height:100%;
    justify-content: space-between;
    
}


.buttons{
    display: flex;
}
.buttons button{
margin: 0 .2rem;
}
button{
    background-color: transparent;
    border: 2px solid gray;
    outline: none;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

button:hover{
    background-color: rgb(225, 201, 240);
}

section{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start ;
    color:#484260;

    
    
}
