


<nav class= "navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/home"> <img src="logop.png"alt="logo" style="width:5em; height:5em;" /></a>
  <ul class="navbar-nav ml-auto">
      <li class="nav-item">
          <a class="nav-link" routerLink="/home"routerLinkActive= "active-link">Home</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/signin"routerLinkActive= "active-link">Login</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/footer"routerLinkActive= "active-link"><i class="fa fa-gear"></i></a>
        
      </li>
  </ul>
</nav>



<router-outlet></router-outlet> 

<!-- https://drive.google.com/file/d/1t_2e6E6NGZ0ydCpviCXZI-NHKJulFXs7/view?usp=sharing -->
<!-- <img src="https://drive.google.com/file/1t_2e6E6NGZ0ydCpviCXZI-NHKJulFXs7/view" alt="whatever">
<img src="https://drive.google.com/uc?export=view&id=1t_2e6E6NGZ0ydCpviCXZI-NHKJulFXs7" alt="whatever"> -->

<!-- https://drive.google.com/uc?export=view&id=1t_2e6E6NGZ0ydCpviCXZI-NHKJulFXs7 -->