.footer{
    overflow: hidden;
    background-color:#9687CB;
    padding: 20px 10px;
    position: sticky;
    top:100%;
    /* box-shadow:0px 2px 5px #777; */

}
h1{
    color:  black;
    font-size: 10px;

}

a{
    padding:0px 10px;
    color:white;
    text-decoration: none;
}

i{
    color: black;
    text-decoration: none;
    padding: 0px 5px;
    font-size: 18px;
}

i:hover{
    color: green;
}

a:hover{
    color: green;

}
.media{
    margin-left: 85%;
}