
<a class="navbar-brand" routerLink="/home"> <img src="https://drive.google.com/uc?export=view&id=1t_2e6E6NGZ0ydCpviCXZI-NHKJulFXs7"alt="logo" style="width:5em; height:5em;" /></a>
<div id="bg">
    <img src="https://drive.google.com/uc?export=view&id=1c0hLYATsrLOCRUwgeXSWc0xP6tgGTLeD" alt="">
</div>

    <div id="bg">
        <img src="../../assets/img/littleracc.gif" alt="">
    </div>

        <div class="container">
        <form class="form"
            #form="ngForm"
            method="post"
            action="register"
            (ngSubmit)="onClickSubmit()"
        >
            <h1>CREATE ACCOUNT</h1>
            <h2> Get 10 reward points when you sign up today! </h2>

            <label for="email" class="form-label">Email</label>
            <input type="email"
                   placeholder="Email address"
                   action="register"
                   class="form-control"
                   id="email"
                   name="email"
                   [(ngModel)]="user.email"
                   required
            >
            <label for="password" class="form-label">Password</label>
            <input
            type="password"
            placeholder="Password"
            action="register"
            class="form-control"
            id="password"
            name="password"
            [(ngModel)]="user.password"
            required
            >
            <label for="confirmPassword" class="form-label">Confirm Password</label>
            <input
            type="password"
            placeholder="Password"
            action="register"
            class="form-control"
            id="confirmPassword"
            name="confirmPassword"
            [(ngModel)]="user.confirmPassword"
            required
            >
            <label>Select Your Pet:</label>
                <select
                        name="petType"
                        [(ngModel)]="user.petType"
                        required
                >
                    <option *ngFor="let p of pets">
                        {{ p }}
                    </option>
                </select>
            <h3>Already a member?<a href="#" class="link-primary" routerLink="/signin" id class="signup" >Sign in</a></h3>

            <div class="btn-box">
                <button type="submit"class="btn btn-primary">Submit</button>
            </div>


</form>
    </div>
<router-outlet></router-outlet>